body{
    background-color: bisque;
}
li {
    display: inline;
}
#form-main{
    margin:20px auto;
}
#form-clear-button,#form-submit-button{
    margin: 10px auto;
}
#form-buttons{
    margin-top: 20px;
}
.main-container{
    padding: 10px;
    margin: 10px auto;
}
.right-side-h3{
    text-align: center;
}